<div class="row mb-3">
    <div class="col-12 text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<div class="card-columns">
    <div class="card text-white bg-dark animated fadeIn" *ngFor="let gnome of genomesArr | paginate: { itemsPerPage: 15, currentPage: page }">
        <a routerLink="/gnome/{{gnome.id}}"><img src="{{ gnome.thumbnail }}" class="card-img-top" alt="..."></a>
        <div class="card-body">
            <span class="h4">{{gnome.name}}</span>
            
                <ul class="mt-3">
                    <li><strong>Professions:</strong> {{gnome.professions}}</li>
                    <li><strong>Friends:</strong> {{gnome.friends}}</li>
                </ul>
           <a class="btn btn-primary" routerLink="/gnome/{{gnome.id}}">More about {{gnome.name}}</a>
        </div>
    </div>

</div>

<div class="row mt-3 mb-5">
    <div class="col-12 text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>