<div class="row">
    <div class="col-12">
        <form class="search-form ">
            <mat-form-field class="search-full-width">
                <mat-label>Search Gnome by Name</mat-label>
                <input matInput type="text" placeholder="Ex. Zedkin Quickbuster"
                #searchByName (keyup.enter)="navigateToSearchGnome(searchByName.value)">
              </mat-form-field>
        </form>
    </div>
</div>