<div class="row">
    <div class="col-12  animated fadeIn">
    <p>
        <a class="btn btn-primary mr-3" routerLink="/"> < </a> 
        <span class="h5">{{gnome.name}}</span>
    </p> 
        <img src="{{ gnome.thumbnail }}" class="card-img-top" alt="...">
      <div class="card-body">
            <ul class="mt-3">
                <li><b>Weight:</b> {{gnome.weight}}</li>
                <li><b>Height:</b> {{gnome.height}}</li>
                <li><b>Hair color:</b> {{gnome.hair_color}}</li>
                <li><b>Professions:</b> {{gnome.professions}}</li>
                <li><b>Friends:</b> {{gnome.friends}}</li>
            </ul>
            <a class="btn btn-primary" routerLink="/"> <</a>
    </div>
  </div>
    