<div class="container-fluid pl-4 pr-4">
  <div class="row">
      <div class="col-12">
          <app-header></app-header>
      </div>
  </div>
  <div class="row">
      <div class="col-12 mt-3 mb-3">
          <app-search-bar></app-search-bar>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>