html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue";}

ul {
    list-style-type: none;
    margin: 0; 
    padding:0
   }

strong {
  color: #047CFF;
}

.search-form {
  min-width: 150px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 50vw;
  object-fit: cover;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
